*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
*/build/*
/captures
.externalNativeBuild
gradlew.bat
gradle.properties
gradlew
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
```
